body {
    background-color: black;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    overflow:hidden;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1682465b-985f-417f-a10c-4de8f27bba7f/d656th1-1cbc5afd-c9cd-4dd4-a9ab-3eb24791e399.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTY4MjQ2NWItOTg1Zi00MTdmLWExMGMtNGRlOGYyN2JiYTdmXC9kNjU2dGgxLTFjYmM1YWZkLWM5Y2QtNGRkNC1hOWFiLTNlYjI0NzkxZTM5OS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.e7no98glWebo79o9JW3N6Rd19l-tLSpvqyO1cpW0yn8");
}


#mySun {
    animation-name: sunAnim;
    animation-duration: 3000s;
    animation-iteration-count: infinite;
   
}


@keyframes sunAnim {
    0% {
        rotate: 0deg;
    }


    100% {
        rotate: 360000deg;
    }
}
