*{
    text-align: center;
}
button{
    background-color:aqua;
    border-radius: 10px;
    width: 200px;
    border: 1px solid gray;
    color:black;
    padding: 10px;
    text-transform: uppercase;
    cursor:pointer;

}
#face {
width: 100px;
height: 100px;
    padding: 50;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 85px;
    background-color: aqua;
}
